@model IEnumerable<AdminCourseListingServiceModel>
@{
    ViewData["Title"] = "AllCourses";
}

<h2>AllCourses</h2>
<table class="table ">
    @foreach (var course in Model)
    {
        <tr>
            <td>
                @course.Name
            </td>
            <td>
                <a class="btn btn-danger" asp-area="Admin" asp-controller="Courses" asp-action="DeleteCourse" asp-route-courseId="@course.Id">Delete Course</a>
            </td>
        </tr>
    }
</table>