<body background="https://www.shutterbug.com/images/styles/600_wide/public/Top-10-Cameras-and-Lenses-2017_0.jpg" alt="Alternate Text">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p style="font-size:750%;color:red; text-align: center;  ">Camera Bazaar</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>