@model int

@{
    ViewData["Title"] = "Delete Camera";
}

<h2>@ViewData["Title"]</h2>

<h1>Are you sure you want to delete this camera?</h1>

<a class="btn btn-danger" href="/cameras/destroy/@Model">Confirm Delete</a>
<a class="btn btn-default" href="/cameras/all">Back</a>

